.Cart {
  padding: 8px;
}

.cart-items {
  display: flex;
  flex-flow: column;
}

.cart-items > * {
  border-bottom: 1px solid white;
  padding: 8px 0;
}

.cart-item > :first-child {
  width: 80px;
  height: 80px;
}

.cart-item h2 {
  margin: 0;
}

.cart-item {
  display: grid;
  grid-template-columns: auto 1fr 100px 100px 100px;
  gap: 16px;
  align-items: center;
}

.checkout {
  align-self: flex-end;
  background-color: #222;
  border-radius: 8px;
  border: 0;
  padding: 8px;
  color: #bbb;
  font-size: 1.5rem;
  margin-top: 32px;
  cursor: pointer;
}
